.about .about-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about .about-nav a:hover {
    color: var(--color-secondary);
}

.about .about-content {
    display: flex;
    justify-content: center;
    text-align: center;
}