.add-review form {
    display: flex;
    justify-content: stretch;
}

.add-review .user-details {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-review .rating {
    display: flex;
    align-items: center;
    padding-inline-start: 0.5rem;
    gap: 10px;
}

.add-review .review-submit {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-review .review-submit .save-btn {
    align-self: flex-end;
}

.add-review .rating .stars-container img {
    width: 24px;
    margin: 0;
    cursor: pointer;
}
