.app-header-container {
    display: flex;
    align-items: center;
    padding: 0 1.2rem;
    box-shadow: -1px 2px 5px 0px lightgrey;
    height: 120px;
}

.app-header-container .logo {
    display: flex;
    align-items: center;
    width: 100%;
}

.app-header-container .logo img {
    width: 40px;
}

.app-header-container h1 {
    margin: 0;
    font-size: 1.9rem;
}

.app-header-container nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.app-header-container nav ul a {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    transition: all 0.3s;
}

.app-header-container nav ul a:not(:last-child) {
    border-inline-end: 1px solid lightgray;
}

.app-header-container nav ul a:hover {
    box-shadow: 0 5px 0 gray;
}

.app-header-container nav ul a.active {
    background-color: gray;
    color: white;
}

.nav-container .fa {
    font-size: 28px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    transition: all 0.5s;
}

.nav-container a:hover {
    cursor: pointer;
    color: white;
}

.nav-btns-container {
    height: 45px;
    cursor: pointer;
    padding: 5px;
    margin-inline-start: 20px;
}

.nav-btns-container>img {
    height: 100%
}

.nav-menu-container .icons-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.icons-container>* {
    min-height: 75px;
    width: 100px;
}

.icons-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: white;
    padding: 5px
}

.icons-container img {
    height: 40px;
    width: 50px;
}

.icons-container>*:hover {
    background-color: lightblue;
}

.nav-btns-container .nav-menu-container {
    height: 220px;
    position: fixed;
    width: 240px;
    right: 25px;
    background: #2f2f2f;
    z-index: 3;
    border-radius: 10px;
}

.logo a {
    display: flex;
}

.app-home-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
}

.app-home-container main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.app-home-container main img {
    height: 400px;
    width: 550px;
}

.app-home-container main h1 {
    text-align: center;
    font-size: 2rem;
}

.app-home-container footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 12vh;
    width: 100%;
    background: #252525;
    font-size: 1.5rem;
    color: #fff;
}

.app-home-container footer img {
    height: 80px;
}

footer .info-container {
    display: flex;
    align-items: center;
}

.home-buttons-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
}

.home-buttons-container button,
.amit-info-container button,
.avi-info-container button,
.app-about-container a>button {
    background-color: #222;
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 180px;
    height: 70px;
}

.home-buttons-container button:hover,
.home-buttons-container button:focus {
    opacity: .75;
}


/* NAV MENU ICONS */