.color-picker {
    background-color: rgb(223, 223, 223);
    display: flex;
    gap: 10px;
    position: absolute;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    bottom: -30px;
    right: 0;
    z-index: 2;
    box-shadow: 0 0 5px black;
}

.color-picker .color {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 5px;
}

.color-picker .color:hover {
    border: 1px solid white;
}

.color-picker .color.gray {
    background-color: #e8eaed;
}

.color-picker .color.green {
    background-color: #ccff90;
}
.color-picker .color.pink {
    background-color: #fdcfe8;
}

.color-picker .color.blue {
    background-color: #aecbfa;
}

.color-picker .color.yellow {
    background-color: #fff475;
}

.color-picker .color.purple {
    background-color: #d7aefb;
}

.color-picker .color.brown {
    background-color: #e6c9a8;
}
.color-picker .color.red {
    background-color: #f28b82;
}