.email-app-container .email-list-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.email-list-container .email-preview {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.email-list-container .email-preview:hover {
    background-color: lightcyan;
}

.email-preview .fa.fa-star {
    color: gold;
}

.email-preview .fa.fa-star,
.email-preview .fa.fa-star-o {
    margin-inline-start: 40px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    margin-inline-end: 40px;
}

.email-preview .fa.fa-star:hover,
.email-preview .fa.fa-star-o:hover {
    background-color: lightcyan;
    border-radius: 15px;
}

.email-info-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.subject-preview {
    width: 35%;
}

.body-preview {
    width: 55%;
}

.time-preview {
    width: 10%;
    text-align: end;
    margin-inline-end: 20px;
}

.readed {
    background-color: #eaf5ff;
}