.email-app-container .email-list-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.email-list-container .email-preview {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid lightgrey;
}

.email-list-container .email-preview:hover {
    background-color: lightcyan;
}

.email-list-container .email-preview:hover .email-preview-buttons button {
    display: block;
}

.email-list-container .email-preview:hover .email-info-container .time-preview {
    display: none;
}


/* .email-app-container>a {
    z-index: 0;
} */

.email-preview .fa.fa-star {
    color: gold;
}

.email-preview .fa.fa-star,
.email-preview .fa.fa-star-o {
    margin-inline-start: 40px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    margin-inline-end: 40px;
}

.email-preview .fa.fa-star:hover,
.email-preview .fa.fa-star-o:hover {
    background-color: lightblue;
    border-radius: 15px;
}

.email-info-container {
    display: flex;
    width: 100%;
    align-items: center;
    max-height: 75px;
    min-height: 75px;
    position: relative;
}

.email-preview-buttons {
    margin-inline-end: 15px;
    display: flex;
    position: absolute;
    right: 0;
}

.email-preview-buttons button {
    background: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
    font-size: 1.3rem;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    display: none;
}

.email-preview-buttons button:last-child {
    font-size: 1.5rem;
}

.email-preview-buttons button:hover {
    background-color: lightblue;
}

.subject-preview {
    width: 30%;
    font-size: 1.2rem;
}

.body-preview {
    width: 55%;
    font-size: 1rem;
}

.time-preview {
    width: 13%;
    text-align: end;
    margin-inline-end: 20px;
    font-size: 1rem;
}

.readed {
    background-color: #eaf5ff;
}

.readed h1,
.readed h2,
.readed h3 {
    font-weight: 200;
}