.email-main-container {
    flex-grow: 1;
    margin-inline-end: 25px;
}

.email-container {
    display: flex;
}

.email-container .nav-container {
    padding-top: 15px;
    padding-inline-end: 20px;
}

.nav-container .compose-btn {
    border-radius: 25px;
    margin-inline-start: 10px;
    background-color: #f6f3e9;
    height: 55px;
    margin-bottom: 20px;
    width: 165px;
    box-shadow: 0 0 4px 0px;
}

.email-container .nav-container>* {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.email-container .nav-container>*:not(.compose-btn) {
    border-radius: 0 25px 25px 0;
    margin-bottom: 10px;
    width: 240px;
}

.email-container .nav-container>*:not(.compose-btn):hover {
    background-color: lightblue;
}

.email-container .nav-container a div {
    padding: 10px;
    width: 100%;
}

.email-container .nav-container>*:hover {
    background-color: #a3a3a3;
}

.folder-btn span {
    padding-inline-start: 65px;
}

.fa.fa-paper-plane {
    font-size: 19px;
}

.folder-btn .fa.fa-inbox,
.folder-btn .fa.fa-star:not(.email-preview),
.folder-btn .fa.fa-file-text {
    font-size: 23px;
}

.nav-container .unreaded-amout {
    text-align: end;
    width: 100%;
}

.active {
    background-color: lightblue;
}