.nav-container div:first-child {
    border: 2px solid black;
    border-radius: 25px;
    margin-inline-start: 10px;
    font-weight: 500;
    background-color: #f6f3e9;
    max-width: 165px;
    min-width: 165px;
}

.nav-container .unreaded-amout {
    text-align: end;
    width: 100%;
}

.active {
    background-color: lightcyan;
}