.email-container .email-details-container {
    flex-grow: 1;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
}

.email-details-container .sender-info-container {
    display: flex;
    justify-content: space-between;
}

.email-details-container .sender-info-container img {
    border-radius: 50px;
    height: 70px;
    width: 70px;
    margin-inline-end: 10px;
}

.email-details-container .sender-info {
    display: flex;
    align-items: center;
}

.email-details-container span:first-child {
    font-weight: 700;
}

.email-details-container .sender-info span {
    margin-inline-start: 10px;
}

.email-details-container h2 {
    border-bottom: 1px solid black;
}

.email-header-container {
    display: flex;
    justify-content: space-between;
}

.email-header-container .buttons-container {
    margin-top: 25px;
}

.addresses-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email-body-container {
    margin-top: 20px;
}

.buttons-container button {
    margin-inline-start: 2.5px;
    height: 36px;
    width: 36px;
    background: transparent;
    outline: none;
    border: 0;
    cursor: pointer
}

.buttons-container button:hover {
    background-color: lightblue;
    border-radius: 20px;
}

.buttons-container button i {
    font-size: 1.5rem;
}