.email-container .email-details-container {
    width: 80%;
    border: 1px solid lightgrey;
}

.email-details-container .sender-info-container {
    display: flex;
    justify-content: space-between;
}