.notes-filter-container {
    display: flex;
    gap: 20px;
}

.main-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.main-input-container input {
    margin-inline-start: 20px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    height: 40px;
    border-radius: 10px;
    width: 400px;
    outline: 0;
    border: 0;
    box-shadow: 0px 2px 5px 1px lightgrey;
    padding-inline-start: 35px;
    padding-inline-end: 135px;
}

.main-input-container .sort-filter {
    position: absolute;
    right: 10px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
}

.main-input-container .sort-filter:focus {
    outline: 0;
}

.main-input-container i {
    position: absolute;
    top: 11px;
}