.notes-list {
    column-count: 1;
    break-inside: avoid;
    gap: 1.5rem;
    column-width: 300px;
}

.notes-list:not(:last-child) {
    margin-bottom: 2rem;
}


@media screen and (min-width:600px) {
    .notes-list {
        column-count: 2;
    }
    
}
@media screen and (min-width:890px) {
    .notes-list {
        column-count: 3;
    }
    
}

@media screen and (min-width:1250px) {
    .notes-list {
        column-count: 5;
    }
    
}
